---
layout: default
title: Home
---

<h1> The Edge of Machine Learning </h1>
<h4> Resource-efficient ML for the Edge and Endpoint IoT Devices </h4>

<p>Insert Overview Here</p>

<p>Dolor laboris dolore laboris anim ad non aute in tempor reprehenderit magna labore commodo incididunt officia proident velit sit est fugiat ut in ex voluptate non voluptate est mollit qui proident consectetur veniam cillum veniam ut cupidatat et qui do magna laborum dolore ea qui et in sit proident dolor veniam in laboris dolore labore sunt deserunt.</p>

<div class='image-with-caption-container'>
  <img class='image-with-caption-image' src="http://placehold.it/800x400" alt="EdgeML Group Photo" title="The researchers at Microsoft’s India lab who are working on the project.">
  <div class='image-with-caption-caption'>The researchers at Microsoft Research India lab who are working on the project.</div>
</div>

<p>Veniam aliqua cillum pariatur non labore ut sunt ad in sit in consectetur ea veniam adipisicing ut incididunt eu excepteur voluptate aliquip non ut nulla ut in do qui aute sit ea in cillum sunt id proident excepteur enim irure eiusmod exercitation nostrud non enim id labore nulla excepteur deserunt sunt in esse pariatur proident in adipisicing et occaecat amet dolore ut in reprehenderit pariatur.</p> 

<h4> Contact </h4>

<a href="mailto:harshasi@microsoft.com">Email</a> for questions or feedback about code and site.


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
