---
layout: default
title: Home
---

<h1> Edge Machine Learning </h1>
<h4> Resource-efficient ML for the Edge and Endpoint IoT Devices </h4>

<p>
  Our <i>objective</i> is to develop a library of efficient machine learning algorithms that can run on
  severely resource-constrained edge and endpoint IoT devices ranging from the Arduino to the Raspberry Pi.
</p>

<p>
  The Internet of Things (IoT) is poised to revolutionize our world. Billions of microcontrollers and sensors 
  have already been deployed for predictive maintenance, connected cars, precision agriculture, personalized 
  fitness and wearables, smart housing, cities, healthcare, etc. The dominant paradigm in these
  applications is that the IoT device is dumb – it just senses its environment and transmits the sensor readings
  to the cloud where all the intelligence resides and the decision making happens.
</p>

<p>
  We envision an alternative paradigm where <i>even tiny, resource-constrained IoT devices can run machine
  learning algorithms locally</i> without necessarily connecting to the cloud. This enables a number of 
  critical scenarios, beyond the pale of the traditional paradigm, where it is not desirable to send data 
  to the cloud due to concerns about latency, connectivity, energy, privacy and security, etc.
</p>

<!-- <div class='image-with-caption-container'>
  <img class='image-with-caption-image' src="http://placehold.it/800x400" alt="EdgeML Group Photo" title="The researchers at Microsoft’s India lab who are working on the project.">
  <div class='image-with-caption-caption'>The researchers at Microsoft Research India lab who are working on the project.</div>
</div>
 -->
<p>
  We are therefore currently releasing tree and k-nearest neighbour based algorithms, called Bonsai and ProtoNN
  respectively, for classification, regression, ranking and other common IoT tasks. Bonsai and ProtoNN can be
  trained on the cloud, or on a laptop, but can then make predictions locally on the tiniest of microcontrollers 
  without needing cloud connectivity.
</p>

<p>
  We have deployed Bonsai and ProtoNN on the Arduino Uno (8 bit ATmega328P microcontroller operating at 16 MHz
  without floating point support, 2 KB RAM and 32 KB read-only flash memory) and found that they can accurately 
  make predictions within a few milliseconds. Detailed experiments and prediction cost-accuracy trade-offs 
  can be found in our ICML 2017 papers.
</p>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
