.image-with-caption-container {
	text-align: center;
}
.image-with-caption-image {
	margin-bottom: 2px;
}
.image-with-caption-caption {
	font-style: italic;
    color: #94949c;
    text-align: center;
    border-bottom: 1px solid #bfb4b4;
    font-size: 0.8em;
}

.footer-div {
	font-size: 0.6em;
}
.footer-div a {
	color:inherit;
	font-style: inherit;
}

.footer-sep{
	font-size: 1.2em;
    padding-left: 4px;
    padding-right: 1px;
}

.publ-div {
	margin-top:1.5em;
}

.publ-title {
	font-weight: bold;
}

.publ-auth {
	font-style: italic;
}

.publ-linklist {
	font-size:0.8em;
}

.pub-link {

}

.hidden {
	display:none;
}

.sidebar-nav-submenu {
	font-size:0.8em;
}

.sidebar-nav-submenu a {
	color:inherit;
	font-style: inherit;
}

.affiliation {
	font-size:0.8em;
	color: #6f685f;
}